@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600&display=swap');

:root {
  --main: #57BE92;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 50px;
}

body {
  font-family: 'Baloo Bhaijaan 2', cursive;
  background: url(https://mszakii.github.io/muslim-home/asset/background.jpeg);
  direction: rtl;
  font-size: 20px;
}

header, footer {
  display: flex;
  align-items: center;
  padding: 20px;
  background: white;
}

header .logo {
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

header .logo img {
  width: 35px;
}

main {
  width: 90vw;
  margin: auto;
  min-height: calc(100vh - 135px);
  padding: 20px 0;
}

@media (min-width: 767px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
  }
  main .card {
    margin: 0 10px;
  }
}

main .card {
  background: #FDFDFD;
  border-radius: 10px;
  padding: 10px;
  min-width: 250px;
  height: fit-content;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .card .label {
  font-weight: bold;
}

footer {
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100vw;
  right: 0;
  justify-content: center;
}

footer a {
  text-decoration: none;
  margin: 0 3px;
  color: var(--main);
}
